SERVICE_URL=movies_api/api/v1
REDIS_HOST=redis
REDIS_PORT=6379
ELASTIC_HOST=elasticsearch
ELASTIC_PORT=9200
REDIS_CACHE_EXPIRE_SECONDS=300
PROJECT_NAME=movies
ES_URL=elasticsearch:9200
REDIS_URL=redis:6379
